---

---

<footer
    class="border-t border-white/10 py-10 px-6 text-center text-sm text-gray-400"
>
    <div class="mb-2">
        &copy; {new Date().getFullYear()} Octavio Serrago. All rights reserved.
    </div>
    <div class="flex justify-center gap-4 text-lg mt-4">
        <a
            href="https://open.spotify.com/intl-es/artist/1gya1oYPjYPTIjMPGWCRAS?si=kQmX5IqATmiKVgGbag4epA"
            target="_blank"
            class="hover:text-white transition"
        >
            <i class="fab fa-spotify"></i>
        </a>
        <a
            href="https://www.youtube.com/@octavioserragomusic"
            target="_blank"
            class="hover:text-white transition"
        >
            <i class="fab fa-youtube"></i>
        </a>
        <a
            href="https://www.instagram.com/octavio.serrago"
            target="_blank"
            class="hover:text-white transition"
        >
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</footer>
