---

---

<section
    id="hero"
    class="relative min-h-screen flex flex-col items-center justify-center px-6 text-center text-white"
>
    <h1 class="text-5xl sm:text-6xl font-bold mb-6 drop-shadow-md">
        Octavio Serrago
    </h1>
    <p class="text-base text-gray-400 mb-8">Buenos Aires, Argentina</p>
    <div class="flex flex-wrap justify-center gap-6">
        <a
            href="https://open.spotify.com/intl-es/artist/1gya1oYPjYPTIjMPGWCRAS?si=Ln_8dQ8DQnWpskhBjGm6iQ"
            target="_blank"
            class="flex items-center gap-2 border border-white hover:border-gray-400 text-white hover:text-gray-300 px-5 py-2 rounded-full text-lg transition"
        >
            <i class="fa-brands fa-spotify"></i>
            Spotify
        </a>
        <a
            href="https://www.youtube.com/@octavioserragomusic"
            target="_blank"
            class="flex items-center gap-2 border border-white hover:border-gray-400 text-white hover:text-gray-300 px-5 py-2 rounded-full text-lg transition"
        >
            <i class="fa-brands fa-youtube"></i>
            YouTube
        </a>
        <a
            href="https://www.instagram.com/octavio.serrago"
            target="_blank"
            class="flex items-center gap-2 border border-white hover:border-gray-400 text-white hover:text-gray-300 px-5 py-2 rounded-full text-lg transition"
        >
            <i class="fa-brands fa-instagram"></i>
            Instagram
        </a>
    </div>
</section>
